<ons-page ng-controller="menuCtrl as menu" align="center">
    <ons-row class="menu">
            <ons-button ng-click="menu.QuizStart()" class="MenuBtn">Step1</br></br></br>情報クイズ！</ons-button>
    </ons-row>
    <ons-row class="menu">
            <ons-button ng-click="menu.QuizDesign()" class="MenuBtn">Step2</br></br></br>クイズデザイン！</ons-button>
    </ons-row>
    <ons-row class="menu">
            <ons-button ng-click="menu.QuizTry()" class="MenuBtn">Step3</br></br></br>クイズトライ！</ons-button>
    </ons-row>
</ons-page>